[Unit]
Description=Extboot sync

[Service]
Type=oneshot
ExecStart=/bin/mount LABEL=EB-ESP /var/lib/extboot/mnt/esp
ExecStart=/usr/bin/rsync --archive --delete /boot/efi/ /var/lib/extboot/mnt/esp
ExecStart=/bin/umount LABEL=EB-ESP
